{% extends 'base/base.html' %}

{% block start %}
<div class="container mt-5 pt-5">

    <div class="row">
        {% if products %}
            {% for product in products %}
            <div class="col-md-3">
                <figure class="card card-product-grid">
                    {% if product.Product.all %}
                        <div class="img-wrap"> 
                            <img src="{{ product.Product.all.0.product_image.url }}" alt="{{ product.Product_name }}">
                        </div>
                    {% else %}
                        <div class="img-wrap"> 
                            <img src="/media/default.png" alt="No image available">
                        </div>
                    {% endif %}
                    <figcaption class="info-wrap border-top">
                        <a href="{% url 'get_product' product.slug %}" class="title"><b>{{ product.Product_name }}</b></a>
                        <div class="price mt-2">₹{{ product.price }}.00</div>
                    </figcaption>
                </figure>
            </div>
            {% endfor %}
        {% else %}
            <div class="col-12 text-center">
                <p>No products found.</p>
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}
